* {
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
    font-size: 24px;
}

.pai h1+p {
    color: red;
}

.pai p+h1 {
    color: green;
    font-size: 30px;
}

.pai h1~p {
    font-style: italic;
}

[meu-atributo] {
    color: red;
    font-size: 45px;
}